@import "tailwindcss";
/* Aquí puedes importar tu fuente si no lo hiciste con @font-face */

@theme {
  --color-neon: #12F7D6;
  --color-fcontac: #292F36;
  --font-display: "Ubuntu", "sans-serif";
  --background-works: url(public/Works.png);
  --background-compus: url(https://www.figma.com/design/A7tYMJWLRSVrf5WQkI47re/Web-Developer-Portfolio-Website-Template--Community-?node-id=534-2158&t=hnlK2dqFehzdWCAM-4)
}

html {
  scroll-behavior: smooth;
}  

label{
  color: #12F7D6;
  padding-left: 5%;
}

/* Dual-screen */

